<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PracticeUI</title>
    <!-- Bootstrap cdn -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css" />

    <!-- CSS -->
    <link rel="stylesheet" href="./assets/css/style.css" />
    <!-- FontAwsome -->
    <link rel="stylesheet" href="./assets/css/all.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,700;1,300&display=swap"
      rel="stylesheet"
    /> -->
    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
    <link
      rel="stylesheet"
      href="https://formden.com/static/cdn/bootstrap-iso.css"
    />

    <!-- Inline CSS based on choices in "Settings" tab -->
    <style>
      .bootstrap-iso .formden_header h2,
      .bootstrap-iso .formden_header p,
      .bootstrap-iso form {
        font-family: Arial, Helvetica, sans-serif;
        color: black;
      }
      .bootstrap-iso form button,
      .bootstrap-iso form button:hover {
        color: white !important;
      }
      .bootstrap-iso .form-control:focus {
        /* border: none; */
        border-color: #ea4c897e;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
          0 0 8px rgba(234, 76, 137, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
          0 0 8px rgba(234, 76, 137, 0.6);
      }
      .asteriskField {
        color: red;
      }
    </style>
  </head>

  <body>
    <!---------------------- Forgot Form Start ---------------------->
    <section>
      <div class="bootstrap-iso">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-5 left">
              <div class="dribble_leftside">
                <a href="./forgot.html">
                  <img src="./assets/images/dribbble-seeklogo.com.svg" alt=""
                /></a>
                <h1>Discover the world’s top Designers & Creatives.</h1>
                <div class="left_main">
                  <img
                    src="./assets/images/Online_Trading-removebg-preview.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <div class="col-xl-7">
              <a style="color: black" href="./signin.html">
                <div class="left_circle">
                  <i class="fas fa-chevron-left"></i></div
              ></a>
              <div class="dribble_rightside">
                <p>Already a member?<a href="./index.html">Sign up now</a></p>
              </div>
              <div class="mx-xl-5 right_space">
                <div class="forgot_right">
                  <h2 class="pb-xl-2">Forgot Password?</h2>
                  <p class="pb-xl-2">
                    Enter the email address you used when you joined and we’ll
                    send you instructions to reset your password.
                  </p>
                  <p class="pb-xl-2">
                    For security reasons, we do NOT store your password. So rest
                    assured that we will never send your password via email.
                  </p>
                </div>
                <div>
                  <form class="row g-3 needs-validation pt-xl-3" novalidate>
                    <div class="col-md-12">
                      <label for="inputEmail4" class="form-label"
                        >Email Address</label
                      >
                      <div class="input-group has-validation">
                        <input
                          type="email"
                          class="form-control custom_input"
                          id="inputEmail4"
                          required
                        />
                        <div class="invalid-feedback">
                          Please choose a Email.
                        </div>
                      </div>
                    </div>

                    <div class="col-12">
                      <button type="submit" class="btn signin">
                        Send Reset Instructions
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!---------------------- Forgot Form End ---------------------->

    <!-- Jquery -->
    <script src="./assets/js/jquery.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/
     popper.js/1.12.9/umd/popper.min.js"></script>

    <!-- Bootstrap js -->

    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- JS -->
    <script src="./assets/js/main.js"></script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function () {
        "use strict";

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll(".needs-validation");

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms).forEach(function (form) {
          form.addEventListener(
            "submit",
            function (event) {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }

              form.classList.add("was-validated");
            },
            false
          );
        });
      })();
    </script>
  </body>
</html>
