<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PracticeUI</title>
    <!-- Bootstrap cdn -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css" />

    <!-- CSS -->
    <link rel="stylesheet" href="./assets/css/style.css" />
    <!-- FontAwsome -->
    <link rel="stylesheet" href="./assets/css/all.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,700;1,300&display=swap"
      rel="stylesheet"
    /> -->
  </head>

  <body>
    <!---------------------- SignUp Form Start ---------------------->
    <section>
      <div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-5 left">
              <div class="dribble_leftside">
                <img src="./assets/images/dribbble-seeklogo.com.svg" alt="" />
                <h1>Discover the world’s top Designers & Creatives.</h1>
                <div class="left_main">
                  <img
                    src="./assets/images/Mobile_login-removebg-preview.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <div class="col-xl-7">
              <div class="dribble_rightside">
                <p>Already a member?<a href="./signin.html">Sign In</a></p>
                <h2>Sign up to Dribbble</h2>
              </div>
              <div class="mx-xl-5 right_space">
                <!-- <div class="right_blue_box">
                  <div>
                    <div>
                      <a href="mailto:"
                        ><h6>Sign in as Harshal</h6>
                        <p>harshalj.mobio@gmail.com</p></a
                      >
                    </div>
                  </div>
                </div> -->
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-primary">
                    <div class="circle"></div>
                  </button>
                  <button type="button" class="btn btn-primary">
                    <span>Sign in as Harshal</span>
                    <br />
                    <span>harshalj.mobio@gmail.com</span>
                  </button>
                  <button type="button" class="btn btn-outline-primary">
                    <i class="fab fa-google"></i>
                  </button>
                  <div class="twitter">
                    <button class="btn">
                      <i class="fab fa-twitter"></i>
                    </button>
                  </div>
                </div>

                <div class="line"><h4>or</h4></div>
                <div>
                  <form class="row g-3">
                    <div class="col-md-6">
                      <label for="inputEmail4" class="form-label">Name</label>
                      <input
                        type="text"
                        class="form-control custom_input"
                        id="inputEmail4"
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="inputPassword4" class="form-label"
                        >Username</label
                      >
                      <input
                        type="text"
                        class="form-control custom_input"
                        id="inputPassword4"
                      />
                    </div>
                    <div class="col-md-12">
                      <label for="inputEmail4" class="form-label">Email</label>
                      <input
                        type="email"
                        class="form-control custom_input"
                        id="inputEmail4"
                      />
                    </div>
                    <div class="col-md-12">
                      <label for="inputPassword4" class="form-label"
                        >Password</label
                      >
                      <input
                        type="password"
                        class="form-control custom_input"
                        id="inputPassword4"
                        placeholder="6+ characters"
                      />
                    </div>
                    <div class="col-12">
                      <div class="form-check">
                        <input
                          class="form-check-input custom_input"
                          type="checkbox"
                          id="gridCheck"
                        />
                        <label class="form-check-label" for="gridCheck">
                          Creating an account means you’re okay with our
                          <a
                            href=""
                            target="_blank"
                            style="text-decoration: none"
                            >Terms of Service</a
                          >,<a
                            href=""
                            target="_blank"
                            style="text-decoration: none"
                            >Privacy Policy </a
                          >, and our default
                          <a
                            href=""
                            target="_blank"
                            style="text-decoration: none"
                            >Notification Settings</a
                          >.
                        </label>
                      </div>
                    </div>
                    <div class="col-12">
                      <button type="submit" class="btn create">
                        Create Account
                      </button>
                    </div>
                    <div class="form_bottom_text">
                      <p>
                        This site is protected by reCAPTCHA and the Google
                        <a href="">Privacy Policy</a>
                        and
                        <a href="">Terms of Service</a> apply.
                      </p>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!---------------------- SignUp Form End ---------------------->

    <!-- Jquery -->
    <script src="./assets/js/jquery.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/
     popper.js/1.12.9/umd/popper.min.js"></script>

    <!-- Bootstrap js -->

    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- JS -->
    <script src="./assets/js/main.js"></script>
  </body>
</html>
