<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PracticeUI</title>
    <!-- Bootstrap cdn -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css" />

    <!-- CSS -->
    <link rel="stylesheet" href="./assets/css/style.css" />
    <!-- FontAwsome -->
    <link rel="stylesheet" href="./assets/css/all.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
    <link
      rel="stylesheet"
      href="https://formden.com/static/cdn/bootstrap-iso.css"
    />

    <!-- Inline CSS based on choices in "Settings" tab -->
    <style>
      .bootstrap-iso .formden_header h2,
      .bootstrap-iso .formden_header p,
      .bootstrap-iso form {
        font-family: Arial, Helvetica, sans-serif;
        color: black;
      }
      .bootstrap-iso form button,
      .bootstrap-iso form button:hover {
        color: white !important;
      }
      .bootstrap-iso .form-control:focus {
        /* border: none; */
        border-color: #ea4c897e;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
          0 0 8px rgba(234, 76, 137, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
          0 0 8px rgba(234, 76, 137, 0.6);
      }
      .asteriskField {
        color: red;
      }
    </style>

    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,700;1,300&display=swap"
      rel="stylesheet"
    /> -->
  </head>

  <body>
    <!---------------------- SignUp Form Start ---------------------->
    <section>
      <div class="bootstrap-iso">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-5 left">
              <div class="dribble_leftside">
                <a href="./index.html" rel="noopener noreferrer">
                <img src="./assets/images/dribbble-seeklogo.com.svg" alt="" /></a>
                <h1>Discover the world’s top Designers & Creatives.</h1>
                <div class="left_main">
                  <img
                    src="./assets/images/Mobile_login-removebg-preview.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <div class="col-xl-7">
              <div class="dribble_rightside">
                <p>Already a member?<a href="./signin.html">Sign In</a></p>
                <h2>Sign up to Dribbble</h2>
              </div>
              <div class="mx-xl-5 right_space">
                <!-- <div class="right_blue_box">
                  <div>
                    <div>
                      <a href="mailto:"
                        ><h6>Sign in as Harshal</h6>
                        <p>harshalj.mobio@gmail.com</p></a
                      >
                    </div>
                  </div>
                </div> -->
                <div class="d-flex pb-xl-3">
                  <a href="https://accounts.google.com/gsi/select?client_id=32073492121-s6ur8ti01mh34gq2bpbufb8ujdfrpn4v.apps.googleusercontent.com&ux_mode=redirect&login_uri=https%3A%2F%2Fdribbble.com%2Fauth%2Fgoogle_one_tap%2Fcallback&ui_mode=card&as=C4FKpbCACVKm8Lx8X7vI6A&g_csrf_token=d29fb1b84ff9d17c">
                  <button class="btn bluebtn">
                    <div class="main_flex">
                      <div class="circle"><span>hj</span></div>
                      <div class="blue_flex">
                        <span>Sign in as harshal</span>
                        <span
                          >harshalj.mobio@gmail.com<i
                            class="fas fa-chevron-down customdown"
                          ></i
                        ></span>
                      </div>
                      <div class="google"><img src="./assets/images/google.png" alt=""></i></div>

                      <!-- <div class="google"><i class="fab fa-google"></i></div> -->
                    </div>
                  </button></a>
                  <div class="twitter">
                    <button class="btn">
                      <i class="fab fa-twitter"></i>
                    </button>
                  </div>
                </div>
                <!-- <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-primary">
                    <div class="circle"></div>
                  </button>
                  <button type="button" class="btn btn-primary">
                    <span>Sign in as Harshal</span>
                    <br />
                    <span>harshalj.mobio@gmail.com</span>
                  </button>
                  <button type="button" class="btn btn-outline-primary">
                    <i class="fab fa-google"></i>
                  </button>
                  <div class="twitter">
                    <button class="btn">
                      <i class="fab fa-twitter"></i>
                    </button>
                  </div>
                </div> -->

                <div class="line"><h4>or</h4></div>
                <div>
                  <form class="row g-3 needs-validation" novalidate>
                    <div class="col-md-6">
                      <label for="inputEmail4" class="form-label">Name</label>
                      <input
                        type="text"
                        class="form-control custom_input"
                        id="inputEmail4"
                        required
                      />
                      <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div class="col-md-6">
                      <label for="inputPassword4" class="form-label"
                        >Username</label
                      >
                      <input
                        type="text"
                        class="form-control custom_input"
                        required
                        id="inputPassword4"
                      />
                      <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div class="col-md-12">
                      <label for="inputEmail4" class="form-label">Email</label>
                      <div class="input-group has-validation">
                        <!-- <span class="input-group-text" id="inputGroupPrepend"
                          >@</span
                        > -->
                        <input
                          type="email"
                          class="form-control custom_input has-validation"
                          id="inputEmail4"
                          required
                        />
                        <div class="invalid-feedback">
                          Please choose a Email.
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <label for="inputPassword4" class="form-label"
                        >Password</label
                      >
                      <input
                        type="password"
                        class="form-control custom_input"
                        id="inputPassword4"
                        required
                        placeholder="6+ characters"
                      />
                      <div class="invalid-feedback">
                        Please enter valid password.
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-check">
                        <input
                          class="form-check-input custom_input"
                          type="checkbox"
                          id="gridCheck"
                          required
                        />
                        <label
                          class="form-check-label custom_check"
                          for="gridCheck"
                        >
                          Creating an account means you’re okay with our
                          <a
                            href=""
                            target="_blank"
                            style="text-decoration: none"
                            >Terms of Service</a
                          >,<a
                            href=""
                            target="_blank"
                            style="text-decoration: none"
                            >Privacy Policy </a
                          >, and our default
                          <a
                            href=""
                            target="_blank"
                            style="text-decoration: none"
                            >Notification Settings</a
                          >.
                        </label>
                        <div class="invalid-feedback">
                          You must agree before submitting.
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <button type="submit" class="btn create">
                        Create Account
                      </button>
                      <p class="create_p">
                        Already a member?<a href="./signin.html">Sign In</a>
                      </p>
                    </div>
                    <div class="form_bottom_text">
                      <p>
                        This site is protected by reCAPTCHA and the Google
                        <a href="">Privacy Policy</a>
                        and
                        <a href="">Terms of Service</a> apply.
                      </p>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!---------------------- SignUp Form End ---------------------->

    <!-- Jquery -->
    <script src="./assets/js/jquery.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/
     popper.js/1.12.9/umd/popper.min.js"></script>

    <!-- Bootstrap js -->

    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- JS -->
    <script src="./assets/js/main.js"></script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function () {
        "use strict";

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll(".needs-validation");

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms).forEach(function (form) {
          form.addEventListener(
            "submit",
            function (event) {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }

              form.classList.add("was-validated");
            },
            false
          );
        });
      })();
    </script>
  </body>
</html>
